@media (min-width: 765px) {
  .landing-container {
    height               : 100vh;
    background-image     : url("../assets/images/landing-background.png");
    background-attachment: fixed;
    background-repeat    : no-repeat;
    background-size      : cover;
    margin               : 0;
    padding              : 0;
    overflow             : scroll;
    display              : flex;
    flex-direction       : row;
    justify-content      : space-between;
    align-items          : center;
  }

  .register-button {
    max-width: 8em;
  }
}

@media (max-width: 764px) {
  .landing-container {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    height         : 100vh;
    ;
  }

  .right-container {
    padding-top     : 3rem;
    min-width       : fit-content;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    background-color: white;
    width           : 50vw;
    height          : 100%;
  }

  .register-button {
    padding-bottom: 3rem;
  }

}


.login-container {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  width          : 50vw;
  height         : 100%;
  align-items    : center;
}

.login {
  border-radius   : 13px;
  background-color: white;
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : center;
  height          : 50%;
  width           : 23rem;
}

.login .form-inner {
  width: 20rem;
}

.right-container {
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : center;
  background-color: white;
  width           : 50vw;
  height          : 100%;
}

.right-content {
  width      : 80%;
  line-height: 2rem;
}

.login-form-group input {
  appearance      : none;
  background      : none;
  outline         : none;
  display         : block;
  width           : 100%;
  line-height     : 1em;
  font-size       : 13px;
  padding         : 10px 15px;
  background-color: #f8f8f8;
  border-radius   : 3px;
  border          : 1px solid #b3b3b3;
}