/* styling for nav bars in page content (not main nav bar) */

.primary.nav-tabs .primary.nav-item.show .nav-link,
.primary.nav-tabs {
    color: #444444;
    background-color: #EFEFEF;
}

.primary.nav-tabs .nav-link.active {
    color: #B71A29 !important;
    font-weight: bold;
}

.primary.nav-tabs .nav-item:hover {
    background-color: #fff !important;
}

.primary.nav-tabs .nav-link:enabled {
    color: #444444;
    font-weight: bold;
}

.primary.nav-tabs .nav-link:disabled {
    color: #6f7782 !important;
    background-color: #EFEFEF !important;
}


/* prevent dropdown from shifting up when menu open */

.top-container {
    background-color: #EFEFEF;
    width: 100%;
}

.dropdown-menu {
    position: absolute !important;
}

.logout {
    color: #6F7782;
}