@media (min-width: 765px) {
	.registration-container {
		background-image     : url("../assets/images/landing-background.png");
		background-attachment: fixed;
		background-repeat    : no-repeat;
		background-size      : cover;
		background-position  : left top;
		margin               : 0;
		padding              : 0;
		display              : flex;
		flex-direction       : row;
		justify-content      : space-between;
		align-items          : center;
		min-height           : 110vh;
		z-index              : -2;
	}
}

.left-background {
	background-color: white;
	height          : 100vh;
}

.registration-form-container {
	height                    : 100%;
	width                     : 80%;
	background-color          : #FFFFFF;
	display                   : flex;
	flex-direction            : column;
	padding-top               : 4rem;
	padding-bottom            : 4rem;
	max-width                 : 50rem;
	z-index                   : 1;
	border-top-right-radius   : 5px;
	border-bottom-right-radius: 5px;
}

.registration-form-container form {
	padding: 0rem 3rem;
}

.logo-container {
	display        : flex;
	align-items    : flex-start;
	justify-content: space-evenly;
}

.form-horizontal-container {
	display        : flex;
	justify-content: space-between;
	align-items    : flex-end;
}

.form-horizontal-subcontainer {
	width: 45%;
}

.register-courses-buttons {
	display        : flex;
	justify-content: space-between;
	margin-top     : 15rem;
}

.register-account-buttons {
	float: right;
}

.show-password {
	margin-left: 0.5rem;
}

@media (max-width: 768px) {
	.register-courses-buttons {
		display       : flex;
		align-items   : center;
		flex-direction: column;
	}

	.registration-form-container {
		width: 100%;
	}

}