/* styling for nav bars in page 
content (not main nav bar) */
.primary {
    padding: 0rem 5rem;
}

.primary.nav-tabs .primary.nav-item.show .nav-link,
.primary.nav-tabs {
    color             : #444444;
    background-color  : #EFEFEF;
    overflow-x        : scroll;
    flex-wrap         : nowrap !important;
    -ms-overflow-style: none;
    scrollbar-width   : none;
}

.primary.nav-tabs .primary.nav-item.show .nav-link,
.primary.nav-tabs::-webkit-scrollbar {
    display: none;
}

.primary.nav-tabs .nav-link.active {
    color      : #B71A29 !important;
    font-weight: bold;
}

.primary.nav-tabs .nav-item:hover {
    background-color: rgb(255, 255, 255, 0.5) !important;
    border-radius   : 0.375rem 0.375rem 0rem 0rem;
}

.primary.nav-tabs .nav-link:enabled {
    color      : #444444;
    font-weight: bold;
}

.primary.nav-tabs .nav-link:disabled {
    color           : #6f7782 !important;
    background-color: #EFEFEF !important;
}

.tab-content {
    background-color: #FFFFFF;
    padding         : 1rem 4rem;
}

/* prevent dropdown from shifting up when menu open */

.top-container {
    background-color: #EFEFEF;
    width           : 100%;
}

.dropdown-menu {
    position: absolute !important;
}

.logout {
    color: #6F7782;
}


@media (max-width: 576px) {
    .primary {
        padding: 0rem 0.75rem;
    }


}