@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  margin     : 0;
  padding    : 0;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size  : 1.5rem;
  line-height: 38px;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size  : 1.2rem;
  line-height: 38px;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size  : 1.1rem;
}

.logo {
  height: 3rem;
}

.logout {
  height: 30px;
}

.sign-in-button {
  margin-top: 30px;
}

.sign-in-button input {
  width    : 100px;
  font-size: 12px;
}

.links {
  color: #003f9e;
}

form {
  display : block;
  position: relative;
}

form .form-inner {
  position: relative;
  display : block;
  z-index : 2;
}

form .form-inner p {
  color    : black;
  font-size: 13px;
}

p.top {
  margin-top   : 40px;
  margin-bottom: 25px;
}

p.bottom {
  margin-top: 15px;
}

.error {
  color         : red;
  font-size     : 0.75rem;
  padding-bottom: 5px;
}

form .form-inner .form-group {
  display      : block;
  margin-bottom: 10px;
}

.welcome {
  width  : 100%;
  padding: 15px 30px;
}

.welcome h2 {
  color        : #888;
  font-size    : 28px;
  font-weight  : 500;
  margin-bottom: 30px;
}

#example-custom-modal-styling-title {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size  : 1.2rem;
  line-height: 38px;
  padding    : 0rem 0.5rem;
}
